<div class='login'>
<h1 class='title is-1'><%= @user.name %></h1>

<div>All my Hikes:
    <ul>
        <% @user.hikes.each do |hike| %>
            <li><%= link_to hike.name, trail_hike_path(hike.trail_id, hike.id) %></li>
        <% end %>
    </ul>

</div>


<br><br>

<div>Total distance I've hiked: <%= "#{@user.total_distance_hiked} miles" %></div>
<div>Total Elevation gain: <%= "#{@user.total_elevation_gain} feet" %></div>
</div>