
<div class='login'>
<h1 class='title is-2'><%= @state.name %></h1>

<h3>National Parks:<h3>

<br>

<ul> 
    <% @state.parks.each do |park| %>
        <li><%= link_to park.name, park_path(park.id) %></li>
    <% end %>
</ul>
</div>