<h1>Statistics</h1>

<div>Total number of all hikes: <%= Trail.all_total_hikes %></div>
<div>Highest rated trail: <%= link_to Trail.highest_rated_trail.name, trail_path(Trail.highest_rated_trail.id) %></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>