<h1>Statistics</h1>

<div>Total number of all hikes: <%= Trail.all_total_hikes %></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>