<h1>Trekker</h1>
    <div>The hike tracking application</div>
    <div><%= link_to "Login Here", login_path %></div><br>
    <div><%= link_to "Find a park by state", states_path %></div>
    <div><%= link_to "Find a trail by national park", parks_path %></div>
    <div><%= link_to "List of all hiking trails", trails_path %></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>